@font-face {
   font-family: "Pixelated MS Sans Serif";
   src: url(ms_sans_serif.woff) format("woff"), url(ms_sans_serif.woff2) format("woff2");
   font-weight: 400;
   font-style: normal;
}

@font-face {
   font-family: "Moon";
   src: url(moon.otf) format("opentype");
   font-weight: 600;
   font-style: normal;
}

:root {
   --button-text-color: #4932c9;
}

body {
   cursor: pointer;
   cursor: url("/cursor.png"), auto;

  color: var(#4932c9);
  image-rendering: pixelated;
  font-size: 18px;
  font-family: "Pixelated MS Sans Serif";
}

h1 {
   font-size: 120px;
   color: rgb(215, 219, 240);
   text-align: center;
   font-weight: bold;
   margin: 0.3em 0;
   font-family: "Pixelated MS Sans Serif";
}

#desc {
   text-align: center;
}

#container { 
   display: flex;
   height: 100vh;
   justify-content: center;
   align-items:center;
flex-direction: column;
gap: 10px;


}

#canvas {
   border: 5px solid black;
   height: 500px;
   width: 900px;
   margin-bottom: 2em;
}


.site-header {
  padding: 20px;
  background-color: #0F132D; /* optional */
}

.title-container {
  display: flex;
  align-items: center; /* vertically centers image and title */
  justify-content: center; /* horizontally centers the whole block */
  gap: 10px; /* space between image and title */
}

.logo {
  height: 90px; /* matches the font size of the title */
}

.site-title {
  font-size: 2em; /* adjust as needed */
  margin: 0;
}



.button {
   color: var(--button-text-color);
   font-family: "Pixelated MS Sans Serif";
   image-rendering: pixelated;
   font-size: inherit;
   text-align: center;

   border: 4px solid transparent;
   border-image: url(button.png) 4 fill repeat;
}

.button:hover {
   cursor: url("/click.png"), auto;
   border-image: url(button_hovered.png) 4 fill repeat;
}

.button:active {
   border-image: url(button_pressed.png) 4 fill repeat;
}

.button:disabled {
   border-image: url(button_disabled.png) 4 fill repeat;
}