@font-face {
   font-family: "Pixelated MS Sans Serif";
   src: url(ms_sans_serif.woff) format("woff"), url(ms_sans_serif.woff2) format("woff2");
   font-weight: 400;
   font-style: normal;
}

@font-face {
   font-family: "Moon";
   src: url(moon.otf) format("opentype");
   font-weight: 600;
   font-style: normal;
}

:root {
   --button-text-color: #4932c9;
}

input[type="text"] {
  font-family: "Pixelated MS Sans Serif";
  font-size: 35px;
  width: 400px;
  height: 100px;
  color: #ffffff;
  background-color: #1a1a2e;
  border: 1px solid #444;
  padding: 8px;
}

body {
   margin:0;
   padding: 0;
   cursor: pointer;
   cursor: url("/cursor.png"), auto;

  color: var(#4932c9);
  image-rendering: pixelated;
  font-size: 18px;
  font-family: "Pixelated MS Sans Serif";
}

h1 {
   font-size: 120px;
   color: rgb(191, 199, 239);
   text-align: center;
   font-weight: bold;
   margin: 0.3em 0;
   font-family: "Pixelated MS Sans Serif";
}

#desc {
   text-align: center;
}

#container { 
   display: flex;
   height: 100vh;
   align-items:center;
flex-direction: column;
gap: 10px;
}

#canvas {
   border: 5px solid black;
   height: 500px;
   width: 900px;
   margin-bottom: 2em;
}


.site-header {
  padding: 20px;
  background-color: #0F132D;
}

.title-container {
  display: flex;
  align-items: center; /* vertically centers image and title */
  justify-content: center; /* horizontally centers the whole block */
  gap: 10px; /* space between image and title */
}

.logo {
  height: 120px; /* matches the font size of the title */
}

.site-title {
  font-size: 2em; /* adjust as needed */
  margin: 0;
}


/* grid container */
.left-sidebar-grid {
    display:grid;
    grid-template-areas:
        'main-content'
        'left-sidebar'
        'footer';
}

/* general column padding */
.left-sidebar-grid > * {
    padding:1rem;
}

/* assign columns to grid areas */

.left-sidebar-grid > .main-content {
    grid-area:main-content;
    background:#fff;
}
.left-sidebar-grid > .left-sidebar {
    grid-area:left-sidebar;
    background:#cfd0f7;
}
.left-sidebar-grid > .footer {
    grid-area:footer;
    background:#72c2f1;
}

/* tablet breakpoint */
@media (min-width:768px) {
    .left-sidebar-grid {
        grid-template-columns:repeat(1fr, 3fr, 0fr);
        grid-template-areas:
            'header header header'
            'left-sidebar main-content main-content'
            'footer footer footer';
    }
}


.button {
   color: var(--button-text-color);
   font-family: "Pixelated MS Sans Serif";
   image-rendering: pixelated;
   font-size: 30px;
   text-align: center;
   width: 207px;
  height: 60px;

   border: 4px solid transparent;
   border-image: url(button.png) 4 fill repeat;
}

.button:hover {
   cursor: url("/click.png"), auto;
   border-image: url(button_hovered.png) 4 fill repeat;
}

.button:active {
   border-image: url(button_pressed.png) 4 fill repeat;
}

.button:disabled {
   border-image: url(button_disabled.png) 4 fill repeat;
}